// Base styles
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  position: relative;
	margin: 0;
	padding:0;
  background: {
    position: center;
    color: $body-bg-color;
    repeat: no-repeat;
    size: cover;
  }
  color: $body-text-color;
  font: {
    family: $base-font;
    size: $base-font-size;
  }
  line-height: $base-line-height;
}

.container {
    position: relative;
    max-width: $content-width;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: $margin-lg;
  margin-right: $margin-lg;
}
