.button{
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $base-radius;
  padding: $padding-sm $padding-md;
  text-decoration: none;
  font-size: 1.4rem;
  color: $grey-dark;
  cursor: pointer;
}