.field--item{
  display: flex;
  flex-direction: column;
  margin-right: $margin-lg;
  padding-top: $padding-lg;
}

label{
  font-family: 'latosemibold';
  color: $grey-darker;
  margin-bottom: $margin-xs;
}

select,
input{
  border: 1px solid $border-color;
  border-radius: $base-radius;
  padding: $padding-sm;
   min-width: 150px;
   max-width: 250px;
}