.field--item{
  display: flex;
  flex-direction: column;
  margin-right: $margin-lg;
}

label{
  color: $grey-dark;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: $margin-md;
}

select,
input{
  border: 1px solid $border-color;
  border-radius: $base-radius;
  padding: $padding-sm;
  height: $fields-height;
}