$black: #000;
$white: #FFF;
$red: #EC5F7A;
$green: #1FBBA6;
$grey-dark: #5A6066;
$grey: #D5D9DE;
$grey-light: #EAEDF1;
$grey-lighter: #F9FAFA;

$padding-sm: 5px;
$padding-md: 15px;
$padding-lg: 30px;

$margin-sm: 5px;
$margin-md: 15px;
$margin-lg: 30px;

$base-font-size: 10px;
$base-radius: 2px;
$base-padding: $padding-md;


$body-text-color: $grey-dark;
$body-bg-color: $grey-light;
$border-color: $grey;

$content-width: 1140px;
$fields-height: 35px;