$black: #000;
$white: #FFF;
$red: #EC5F7A;
$green: #1FBBA6;
$grey-darker: #5A6066;
$grey-dark: #7B8B8E;
$grey: #A2ACAE;
$grey-light: #D5D9DE;
$grey-lighter: #EAEDF1;
$grey-lightest: #F9FAFA;

$padding-xs: 5px;
$padding-sm: 10px;
$padding-md: 15px;
$padding-lg: 30px;

$margin-xs: 5px;
$margin-sm: 10px;
$margin-md: 15px;
$margin-lg: 30px;

$base-font: 'latoregular';
$base-line-height: 1.5;
$base-font-size: 14px;
$base-radius: 2px;
$base-padding: $padding-md;


$body-text-color: $grey-darker;
$body-bg-color: $grey-lighter;
$border-color: $grey-lighter;


$content-width: 1140px;
$fields-height: 35px;

$screen-xl: 1200px;
$screen-lg: 991px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 360px;