.banner{
  position: relative;
}

.banner--image{
  @include background-image-cover;
  @include gradient-overlay(0.5);
  position: relative;
  height: 750px; 
}

.banner--title{
  @include align-center;
  font-size: 38px;
  color: $white;
  text-align: center;
  width: 100%;
  padding: $padding-lg 0;
}

.banner--tag{
  position: absolute;
  left: 0;
  top: 0;
  padding: $base-padding;
  text-transform: uppercase;
  font-size: 12px;
  color: $white;
}

.banner--icon{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 3rem;
  font-size: 2rem;
  cursor: pointer;

  > img{
    width: 30px;
    fill: $white;
  }
}

@media (max-width: $screen-sm) {
  .banner--image{
    height: 400px;
  }
}

@media (max-width: $screen-md) {
  .banner--image{
    height: 500px;
  }
}

@media (max-width: $screen-lg) {
  .banner--image{
    height: 600px;
  }
}