.filters--wrapper {
    background-color: $grey-lightest;
    padding: $padding-lg 0 0 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    > button {
        margin: 0 $margin-lg $margin-lg $margin-lg;
    }

    > .field--item, button {
        flex: 1 auto;
    }
}
