.footer{
  display: flex;
  padding: $padding-lg 0;
  justify-content: space-between;
}

.footer--link{
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: underline;
}

.footer--text{
  font-size: 1.6rem;
  color: $grey;
}