.list--container{
  display: flex;
  flex-direction: column;
  background-color: $white;

}

.list--result{
  text-align: center;
  font-family: 'latosemibold';
  color: $grey;
  font-size: 16px;
  padding: $padding-lg;
}
